:root {
  --primary: #34313d;
  --secondary: #3a3054;
  --tertiary: #4b3f6b;
  --dark-gray: #9e9aa8;
  --light-gray: #eff1f7;
  --cyan: #2bd0d0;
  --max-desktop-width: 1440px;
  --min-mobile-width: 360px;
}
