.header {
  width: 100%;
  min-height: 800px;
  background: url("../images/working_with_computer.svg");
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 45rem;
  position: relative;

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    min-width: 635px;

    h1 {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 90px;
      letter-spacing: -2px;
      color: #34313d;
    }

    p {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 36px;
      letter-spacing: 0.15px;
      color: #9e9aa8;
      margin-top: 5px;
    }

    &__cta {
      margin-top: 40px;
      border: none;
      outline-color: transparent;
      background: #2bd0d0;
      border-radius: 28px;
      padding: 14px 40px;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
      cursor: pointer;
    }
  }

  &__shortener_box {
    position: absolute;
    bottom: calc(168px / -2);
    left: 50%;
    transform: translateX(-50%);
    min-height: 168px;
    background: url("../images/bg-shorten-desktop.svg") #3a3054;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    max-width: var(--max-desktop-width);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px;

    input {
      flex: 2;
      margin-right: 25px;
      max-width: 85%;
      height: 100%;
      padding: 18px 32px;
      border: none;
      border-radius: 10px;
      outline: none;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 36px;
      letter-spacing: 0.15px;
      color: #34313d;
      mix-blend-mode: normal;

      &::placeholder {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.15px;
        color: #34313d;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }

    button {
      padding: 18px 40px;
      cursor: pointer;
      border: none;
      outline-color: transparent;
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
      background: #2bd0d0;
      border-radius: 10px;
    }
  }
}
